@font-face {
    font-family: Kashima;
    src: url(../CSS/Fonts/Kashima.otf);
}

h1 {
    font-family: kashima;
    color: red;
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h2 {
    margin-top: 0px;
    color: red;
}

h3 {
    color: red;
    text-align: center;
}



.grid {
    background: #ffffff4f;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 600px;
    width: 600px;
    border: solid;

}

.cell {
    border: solid;
}

body {
    background-image: url(../Img/IMG_4605.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

header {
    text-align: center;
}

.player {
    background-image: url(../Img/IMG_9944.jpg);
    background-size: cover;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.carte-vitale {
    background-image: url(../Img/pngwing.com.png);
    background-size: contain;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.titre-de-sejour {
    background-image: url(../Img/pngwing.com.png);
    background-size: contain;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.sim-card {
    background-image: url(../Img/pngwing.com.png);
    background-size: contain;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.compte-bancaire {
    background-image: url(../Img/pngwing.com.png);
    background-size: contain;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.apartment {
    background-image: url(../Img/pngwing.com.png);
    background-size: contain;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.job {
    background-image: url(../Img/pngwing.com.png);
    background-size: contain;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.shuriken {
    background-image: url(../Img/naruto\ shuriken\ png\ -\ Imagem\ png\ para\ baixar\ grátis.png);
    background-size: cover;
    background-position: center;
    animation: turn 1s infinite linear;
    border: none;

}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#game-over {
    position: fixed;
    background: black;
    width: 50vw;
    left: 25vw;
    height: 20vh;
    color: white;
}

#win {
    position: fixed;
    background: black;
    width: 50vw;
    left: 25vw;
    height: 20vh;
    color: white;
}

.hidden {
    display: none;
}